.c-breadcrumbs {
  color: #fff;
  font-weight: normal;
  margin-top: 98px;
  padding-left: 20px;

  @include grid-media($mobile){
    padding: 0.5rem 0 0.5rem 20px;
  }
  
  li {
    display: inline;
    line-height: 3rem;
    position: relative;
    text-align: left;

    &::after {
      content: '>';
      margin: 0 6px;
    }
    &:last-child::after {
      content: '';
    }

    @include grid-media($mobile){
      line-height: 1.4rem;

      &:first-child {
        display: none;
      }
    }

  }

}